In [7]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
P1gen= "Data/Plant_1_Generation_Data.csv"

df=pd.read_csv(P1gen)
df.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0

In [4]:
df.shape

(68778, 7)

In [6]:
y = df['TOTAL_YIELD']
X = df.drop(columns = 'TOTAL_YIELD')

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
display(X_train.head(3), y_train.head(3))

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD
66227,16-06-2020 18:30,4135001,1IF53ai7Xc0U56Y,76.750000,7.400000,6317.625000
27319,28-05-2020 21:30,4135001,7JYdWkrLSPkdwr4,0.000000,0.000000,8278.000000
61848,14-06-2020 16:45,4135001,1BY6WEcLGh8j5v7,2071.857143,203.114286,3857.428571

66227    6427531.625
27319    7706828.000
61848    6467520.429
Name: TOTAL_YIELD, dtype: float64

In [10]:
len(X_train)/len(X) * 100

74.99927302335048